arch==7.2.0
astsadata==0.0.4
jupyter==1.1.1
jupyter-book==1.0.3
jupyterlab-rise==0.42.0
matplotlib==3.9.2
nbclassic==1.1.0
notebook==7.2.2
numpy==2.1.2
pandas==2.2.3
scipy==1.14.1
statsmodels==0.14.4
rise==5.7.1
